/__pycache__
/log1.wav
node_modules
yarn.lock
package-lock.json
babel.config.js
.expo
yarn.lock/
yarn-error.log
removed/node_modules
test_recordings/
dev_app_data/
Keys.tsx
.idea/
node_modules/
removed/
yarn.lock
android/
ios/
dist/
.env
